body{
    margin-top:0px;
    margin-left: 0;
    margin-right: 0;
    color: black;
    height: 2000px;
    background-color: lightgray;
}

.top{
    display:inline-block;
    margin-top: 0px;
    align-items: center;
    -webkit-align-items: center;
}

.subTitle{
    font-family: Impact;
    font-size: 40px;
    color: black;
    width: fit-content;
    padding: 3px;
    padding-left: 0px;
    padding-right: 20px;

}
header{
    z-index: 100;
    background-color: rgb(184, 16, 31);
    background-color: red;
}
.horizontal{
    float: left;
}
#headerTitle{
    font-family:sans-serif;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    margin-left: 0px;
    color: rgba(40,40,40,1.0);
    white-space: nowrap;
}
#menu {
    top:0;
    font-family: roboto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(40,40,40,1.0);
    position: sticky;
    box-shadow: 0 5px 20px -5px black;

}

#menu li {
    float: left;
}
#main_content{
    margin-top: 70px;
    margin-left: 5%;
    font-size: 25px;
    font-family: Roboto;
}
.selectedMenuItem{
    background-color: red;
}
.menuItem {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;

    transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    -webkit-transition: background-color .1s ease-in-out;
}

/* Change the link color to #111 (black) on hover */
.menuItem:hover {
    background-color: rgb(170, 10, 20);/* #111;*/
}
#titleLogo{
    padding:5px;
    padding-right: 30px;
    padding-left:30px;


}
.showcaseImg{
    /*box-shadow: 0 4px 8px 0 rgba(184, 16, 31, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0px 10px 15px rgba(15, 15, 15, 0.4);
    border-radius: 20px;
    padding: 0px;
    margin-bottom: 80px;
    float: right;
}
.backdrop{
    background-color: rgba(20,20,20,0.1);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}
